<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='./css/styles.css'>
    </head>
        <body>
           {{>header}} 
           <p> This website use Mapbox and darksky</p>
            <img src='../public/img/dineshuthakota.png'>
            {{>footer}}
        </body>
     
</html>